.footer {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;

  position: fixed;
  bottom: 0;
  left: 0;

  background: #111;
  color: #fff;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.footer-name {
  font-size: 18px;
  font-weight: bold;
}
