@import "tailwindcss";

body {
  background: radial-gradient(
      circle at top center,
      rgba(80, 80, 120, 0.3),
      transparent
    ),
    linear-gradient(135deg, #0c0c0f, #0a0a0a, #101017);
  color: #fff;
  min-height: 100vh;
}
